<div class="container mt-5">
    <h2 class="text-center mb-4">All Tasks</h2>
    <!-- <button class="btn-new" routerLink="/customer">Post New Customer</button> -->

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Task</th>
                <th>Status</th>
                <th>Importance</th>
                <th>Update</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td>{{task.name}}</td>
                <td>{{task.status}}</td>
                <td>{{task.importance}}</td>
                <td>
                    <button class="btn btn-warning btn-sm" routerLink="/updatetask/{{userId}}/{{task.id}}">
                        Update
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" (click)="deleteTask(task.id)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <app-add-task></app-add-task>

</div>

